---
import { Icon } from "astro-icon/components"

type Props = {
	title: string
	description: string
	address: string
	phone: string
	email: string
}

const { title, description, address, phone, email } = Astro.props
---

<section class="container py-24">
	<div class="grid grid-cols-2 gap-8">
		<div>
			<div class="mb-12">
				<h2 class="text-6xl leading-[60px] font-semibold mb-5">{title}</h2>
				<p class="text-xl leading-[28px] text-muted">{description}</p>
			</div>
			<div class="space-y-6">
				<div class="flex items-center gap-3">
					<span
						class="flex items-center justify-center rounded-full w-12 h-12 default-shadow bg-white">
						<Icon class="text-primary-700" name="building" />
					</span>
					{address}
				</div>
				<div class="flex items-center gap-3">
					<span
						class="flex items-center justify-center rounded-full w-12 h-12 default-shadow bg-white">
						<Icon class="text-primary-700" name="phone" />
					</span>
					{phone}
				</div><div class="flex items-center gap-3">
					<span
						class="flex items-center justify-center rounded-full w-12 h-12 default-shadow bg-white">
						<Icon class="text-primary-700" name="envelope" />
					</span>
					{email}
				</div>
			</div>
		</div>
		<form
			class="p-8 bg-white border border-neutral-200 default-shadow rounded-lg">
			<div class="grid grid-cols-2 items-center gap-8 mb-6">
				<label class="flex flex-col">
					<span class="mb-1">Name</span>
					<input
						type="text"
						placeholder="Your Name"
						class="bg-neutral-50 border-neutral-200 placeholder:text-neutral-500 px-4 py-2 text-sm rounded-sm border"
					/>
				</label>
				<label class="flex flex-col">
					<span class="mb-1">Email</span>
					<input
						class="bg-neutral-50 border-neutral-200 placeholder:text-neutral-500 px-4 py-2 text-sm rounded-sm border"
						type="email"
						placeholder="example@example.com"
					/>
				</label>
			</div>
			<label class="flex flex-col mb-10">
				<span class="mb-1">Message</span>
				<textarea
					name=""
					id=""
					rows="5"
					class="bg-neutral-50 border-neutral-200 placeholder:text-neutral-500 px-4 py-2 text-sm rounded-sm border"
				></textarea>
			</label>
			<button class="btn-primary w-full">Submit</button>
		</form>
	</div>
</section>
