---
import { Icon } from "astro-icon/components"

type Props = {
	title: string
	description: string
	address: string
	phone: string
	email: string
}

const { title, description, address, phone, email } = Astro.props
---

<section class="container py-24">
	<div class="grid grid-cols-2 gap-8">
		<div>
			<div class="mb-12">
				<h2 class="text-6xl leading-[60px] font-semibold mb-5">{title}</h2>
				<p class="text-xl leading-[28px] text-muted">{description}</p>
			</div>
			<div class="space-y-6">
				<div class="flex items-center gap-3">
					<span
						class="flex items-center justify-center rounded-full w-12 h-12 default-shadow bg-white">
						<Icon class="text-primary-700" name="building" />
					</span>
					{address}
				</div>
				<div class="flex items-center gap-3">
					<span
						class="flex items-center justify-center rounded-full w-12 h-12 default-shadow bg-white">
						<Icon class="text-primary-700" name="phone" />
					</span>
					{phone}
				</div><div class="flex items-center gap-3">
					<span
						class="flex items-center justify-center rounded-full w-12 h-12 default-shadow bg-white">
						<Icon class="text-primary-700" name="envelope" />
					</span>
					{email}
				</div>
			</div>
		</div>
		<form
			class="p-8 bg-white border border-neutral-200 default-shadow rounded-lg">
			<input type="text" />
			<input type="email" />
			<textarea name="" id=""></textarea>
			<button>Submit</button>
		</form>
	</div>
</section>
