---
import { Icon } from "astro-icon/components"
import { Image } from "astro:assets"
import type { Feature } from "@/lib/features"
import SectionHeader from "./SectionHeader.astro"

type Props = {
	eyebrow: string
	title: string
	description: string
	features: Feature[]
	image?: {
		src: ImageMetadata
		alt: string
		side?: "left" | "right"
	}
}

const { eyebrow, title, description, features, image } = Astro.props
---

<section class="container py-24">
	<SectionHeader eyebrow={eyebrow} title={title} description={description} />
	<div class:list={["grid", { "grid-cols-2 gap-8": image }]}>
		<div
			class:list={[
				"grid",
				{
					"grid-cols-3 gap-8": !image,
					"gap-10": image,
					"order-2": image?.side === "left"
				}
			]}>
			{
				features.map((feature) => (
					<div
						class:list={[
							"flex",
							{ "flex-col items-center": !image, "gap-5": image }
						]}>
						<div class="default-shadow flex justify-center items-center mb-5 w-12 h-12 rounded-full">
							<Icon name={feature.icon} class="text-primary-700" />
						</div>
						<div>
							<div
								class:list={[
									"text-xl leading-[28px] font-semibold mb-2",
									{ "text-center": !image }
								]}>
								{feature.title}
							</div>
							<p
								class:list={[
									"text-muted max-w-prose leading-6",
									{ "text-center": !image }
								]}>
								{feature.description}
							</p>
						</div>
					</div>
				))
			}
		</div>
		{
			image && (
				<div class="relative w-full h-full">
					<Image
						src={image.src}
						alt={image.alt}
						class="object-cover absolute w-full h-full rounded-lg shadow-[0_4px_6px_-2px_rgba(0,0,0,0.05),0_10px_15px_-3px_rgba(0,0,0,0.10)]"
					/>
				</div>
			)
		}
	</div>
</section>
