---
import { Icon } from "astro-icon/components"
import SectionHeader from "./SectionHeader.astro"

type Props = {
	eyebrow: string
	title: string
	description: string
	plans: {
		name: string
		description: string
		price: {
			month: string
			annual: string
		}
		features: string[]
	}[]
}

const { eyebrow, title, description, plans } = Astro.props
---

<section class="container py-24">
	<SectionHeader
		eyebrow={eyebrow}
		title={title}
		description={description}
		mb={10}
	/>
	<div class="flex items-center justify-center mb-16">
		<button class="btn-outline">Monthly</button>
		<button class="btn-outline">Annually</button>
	</div>
	<div class="grid grid-cols-3 gap-8">
		{
			plans.map((plan, index) => (
				<div
					class:list={[
						"p-8 rounded-lg border border-neutral-200 flex flex-col justify-between bg-white",
						{
							"pt-0 px-0 border-primary-600 shadow-[0_25px_50px_-12px_rgba(0,0,0,0.25)]":
								index === 1
						}
					]}>
					<div>
						{index === 1 && (
							<div class="text-center text-primary-700 bg-primary-50 font-bold text-xl py-4 rounded-t-lg">
								Most Popular
							</div>
						)}
						<div class:list={[{ "px-8 pt-8": index === 1 }]}>
							<div class="mb-8">
								<h3 class="font-semibold text-2xl leading-8 mb-2">
									{plan.name}
								</h3>
								<p class="text-lg leading-6 text-muted">{plan.description}</p>
							</div>
							<div class="mb-8">
								<div class="mb-2">
									<span class="font-semibold text-5xl leading-12">
										{plan.price.month}
									</span>
									<span class="leading-6 -ml-2">/ month</span>
								</div>
								<div class="text-muted">Billed monthly</div>
							</div>
							<ul class="space-y-5 mb-16">
								{plan.features.map((feature) => (
									<li class="text-muted flex gap-3 items-center">
										<span class="text-primary-500 bg-primary-50 flex justify-center items-center w-6 h-6 text-sm rounded-full">
											<Icon name="check" />
										</span>
										{feature}
									</li>
								))}
							</ul>
						</div>
					</div>
					<div class:list={[{ "px-8": index === 1 }]}>
						<button
							class:list={[
								"w-full",
								{ "btn-outline": index !== 1, "btn-primary": index === 1 }
							]}>
							Buy Now
						</button>
					</div>
				</div>
			))
		}
	</div>
</section>
