---
import { Image } from "astro:assets"
type Props = {
	name: string
	handle: string
	image: {
		src: ImageMetadata
		alt: string
	}
	quote: string
}

// @TODO: consider dynamic images https://docs.astro.build/en/recipes/dynamically-importing-images
const { name, handle, image, quote } = Astro.props
---

<article
	class="h-full bg-white rounded-lg p-6 shadow-[0_1px_3px_rgba(0,0,0,0.1),0_1px_2px_rgba(0,0,0,0.1)]">
	<div class="flex items-center gap-4 mb-4">
		<Image
			src={image.src}
			alt={image.alt}
			class="w-12 h-12 rounded-full object-cover"
		/>
		<div>
			<div class="text-lg font-semibold">{name}</div>
			<div class="text-sm text-neutral-600">@{handle}</div>
		</div>
	</div>
	<blockquote class="text-neutral-600">{quote}</blockquote>
</article>
